

<div id="sidebar">
<img  id="pi" src="https://cdn2.vectorstock.com/i/thumb-large/34/96/flat-business-man-user-profile-avatar-in-suit-vector-4333496.jpg"/>  
<nav id="menu">
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <i class="fas fa-home"> &nbsp;<a class="nav-links" routerLink="/home">Home</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="fas fa-users">&nbsp;<a class="nav-links" routerLink="/users">Users</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="far fa-address-card">&nbsp; <a class="nav-links" routerLink="/post">Post</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="fas fa-sign-out-alt">&nbsp;<a class="nav-links" routerLink="">Logout</a></i><hr>
  </li>
  
</ul>
</nav>
</div>

