<div id="sidebar">
<img  id="pi" src="https://cdn2.vectorstock.com/i/thumb-large/34/96/flat-business-man-user-profile-avatar-in-suit-vector-4333496.jpg"/>  
<nav id="menu">
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <i class="fa fa-home"> &nbsp;<a class="nav-links" routerLink="/home">Home</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="fa fa-edit">&nbsp;<a class="nav-links" routerLink="userpostcr">Create Post</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="fa fa-eye">&nbsp;<a class="nav-links" routerLink="/logout">ViewPost</a></i><hr>
  </li>
  <li class="nav-item">
    <i class="fa fa-sign-out">&nbsp;<a class="nav-links" routerLink="">Logout</a></i><hr>
  </li>
  
  
</ul>
</nav>
</div>
